body {
	font-family: "Times New Roman", "Times Roman", serif;
	font-size: 15px;
	line-height: 25px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
}

hr {
	border-width: 0;
	&:after {
		content: '* * *';
		font-size: 24px;
		display: block;
		text-align: center;

	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
}

p a {
  transition: color 300ms ease-in-out;
}

